/* CONNECT  */
.connecter, .contact {
    display: flex;
    flex-direction: column;
    text-align: center;   
	/* flex where we need to be  */
}

/* container general*/
.connecter, .contact{
    width: 350px;
    margin: auto;
    padding: 0.5rem;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.096);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.082);
}

/* form connection*/

.connect-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 5rem;
    width: 80%;
    margin: auto;
}

.connect-header {
	text-align: center;
	margin-left: 10rem;
}

.connect-header h1{
	font-size: 2.5rem;
	text-decoration: underline;
}
.connect-header p {
	font-size: 1.7rem;
}

#connect-header-responsive {
	display: none;
}

.form {
	margin: auto;
    width: 95%;
    margin-bottom: 4rem;
	padding-top: 1rem;
}

.form input, .form textarea, .form select{
    width: 90%;
    height: 3rem;
    background-color:rgb(243, 241, 241);
    margin: 0.2rem;
    border-radius: 5px;
    padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.253);
}

.form textarea {
	height: 20vh;
}

.form {
    margin-bottom: 0.5rem;
}


#ou {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
}

#ou hr {
    border: solid 1px rgba(195, 195, 195);
    height: 1px;
    margin-top: 0.8rem;
}

#btn-submit, #btn-contact {
	background-color: rgb(202, 38,38);
    color: white;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
	cursor: pointer;
}
#btn-submit:hover, #btn-contact:hover{
	background-color: rgb(185, 39, 39);
}
#btn-new button {
    height: 2rem;
    border-radius: 5px;
    padding: 1.1rem 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 0rem;
    background-color: white;
    border: solid rgb(207, 207, 207) 2px;
	cursor: pointer;
}
#btn-new button:hover {
	background-color: rgb(230, 230, 230);
}

/* connect responsive  */

@media (max-width: 1200px){
	.connect-container {
		display: grid;
		grid-template-columns: 1fr;
		padding-top: 2rem;
        width: 100%;
	}
	
	.connect-header {
		display: none;
	}
	
	#connect-header-responsive {
		display: inline;		
	}

}