* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
    background-color: white;
    color: black;
}

.dark-mode{
    background-color: black;
    color: white;
}
.dark-mode a {
    color: white;
}

a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}

  