
/* all h3's are for error/success/request communication purpose */

/* all red color: rgb(202, 38,38); */
/* all red:hover color : rgb(185, 39, 39)  */

/* fond:  */
/* background-color: rgba(255, 255, 255, 0.096); */
/* box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.082); */


/* GLOBAL + DARK-MODE */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: roboto;
	background-color: white;
	color: black;
}
h1 {
	margin: 4rem 0 2rem 0;
	text-align: center;	
}
.dark-mode {
	background-color: black;
	color: white;
}
.dark-mode a, .dark-mode .mobile-nav a{
	color: white;
}
a {
	text-decoration: none;
	color: black;
}
a:hover {
	color: rgb(185, 39, 39);
}
.dark-mode .yellow-bg a {
	color: black;
}
.pace {
	height: 0vh;
	width: 0vw;
}

/* toggle button  */
.switch input {
	display: none;
}

.switch {
	display: inline-block;
	width: 60px; /*=w*/
	height: 30px; /*=h*/
	transform: translateY(50%);
	position: absolute;
	top: 1rem;
	left: 2rem;
}

.slider {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 30px;
	box-shadow: 0 0 0 2px black, 0 0 4px black;
	cursor: pointer;
	border: 4px solid transparent;
	overflow: hidden;
	transition: 0.2s;
}

.slider:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: black;
	border-radius: 30px;
	transform: translateX(-30px); /*translateX(-(w-h))*/
	transition: 0.2s;
}

.dark-mode input + .slider:before {
	transform: translateX(30px); /*translateX(w-h)*/
	background-color: white;
}

.dark-mode input + .slider {
	box-shadow: 0 0 0 2px white, 0 0 8px white;
}

/* burger menu button  */
.brgr-menu {
	width: 100px;
	height: 100px;
	border: none;
	cursor: pointer;
	display: none;
	padding: 0;
	background: #ffffff00;
}

.line {
	fill: none;
	stroke: black;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dark-mode .line {
	stroke: white;
}

.line1 {
	stroke-dasharray: 50 157;
	stroke-width: 6;
}
.line2 {
	stroke-dasharray: 50 157;
	stroke-width: 6;
}
.line3 {
	stroke-dasharray: 50 157;
	stroke-width: 6;
}
.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}
.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}
.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

/* NAVBAR  */

.mobile-nav {
	display: none;
}

.nav {
	height: 10vh;
	margin: 0 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
}

.nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav a {
	line-height: 7vh;
	font-size: 1.5rem;
	margin-top: 1rem;
	/* font-weight: ; */
}

.black-bg a {
	margin: 0 1rem;
}

.yellow-bg {
	background-color: rgb(251, 255, 0);
	/* /* margin-right: -1rem;  */
   	padding: 0.8rem; 
	color: black;
	/* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164); */
}

/* responsive navbar  */
@media screen and (max-width: 1020px) {
	.pace {
		height: 10vh;
		width: 100vw;
	}

	.rock {
		display: none;
		width: 0px;
	}

	.nav .black-bg, .nav .yellow-bg {
		display: none;
	}

	.brgr-menu {
		display: block;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.switch {
		display: block;
		position: absolute;
		left: 1rem;
		top: 1rem;
	}

	.nav {
		position: absolute;
		top: -100vh;

		/* pour tester la navbar responsive solo*/
		/* top: 0; */ 

		left: 0;
		overflow: hidden;
		height: 100vh;
		width: 100vw;
		background-color: white;
		padding: 0;
		margin: 0;
		transition: 1s;
	}

	.open-menu {
		top: 0;
		transition: 1s;
	}

	.mobile-nav {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
		margin: auto;
		padding: 0;
	}

	.dark-mode .nav {
		color: white;
		background-color: black;
	}

	.switch-open {
		display: none;
	}
}

/* HOMEPAGE  */

.container-homepage {
	width: 90vw;
	margin: auto;
}

/* CONNECT  */
.connecter, .contact {
    display: flex;
    flex-direction: column;
    text-align: center;   
	/* flex where we need to be  */
}

/* container general*/
.connecter, .contact{
    width: 350px;
    margin: auto;
    padding: 0.5rem;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.096);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.082);
}

/* form connection*/
.form {
	margin: auto;
    width: 95%;
    margin-bottom: 4rem;
}

.form input, .form textarea, .form select{
    width: 90%;
    height: 3rem;
    background-color:rgb(243, 241, 241);
    margin: 0.2rem;
    border-radius: 5px;
    padding: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.253);
}

.form textarea {
	height: 20vh;
}

.form {
    margin-bottom: 0.5rem;
}


#ou {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
}

#ou hr {
    border: solid 1px rgba(195, 195, 195);
    height: 1px;
    margin-top: 0.8rem;
}

#btn-submit, #btn-contact {
	background-color: rgb(202, 38,38);
    color: white;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
	cursor: pointer;
}
#btn-submit:hover, #btn-contact:hover{
	background-color: rgb(185, 39, 39);
}
#btn-new button {
    height: 2rem;
    border-radius: 5px;
    padding: 1.1rem 3rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 0rem;
    background-color: white;
    border: solid rgb(207, 207, 207) 2px;
	cursor: pointer;
}
#btn-new button:hover {
	background-color: rgb(230, 230, 230);
}


/* PROJECT  */

.projects {
	width: 90vw;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	background-color: rgba(255, 255, 255, 0.096);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.082);
	padding: 2rem;
	
}

.projects hr {
	width: 0;
}

.projects img  {
	max-width: 500px;
	box-shadow: 0px 5px 10px rgba(73, 73, 73, 0.267);
}

.project-solo {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

.project-solo h2 {
	padding-bottom: 1rem;
	text-decoration: underline;
}

.project-solo p, .project-solo 	a{
	padding-bottom: 0.2rem;
}

/* projet id (solo) */
.project-id {
	width: 80vw;
	margin: auto;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.096);
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.082);
}
.project-id img {
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.082);
}

.project-id p {
	font-size: 1.5rem;
	padding: 1rem 0;
}

.project-id a {
	padding: 1rem 0;
}

/* responsif projects  */
@media (max-width: 900px) {
	.projects {
		grid-template-columns: 1fr;
	}
	.projects img {
		width: 100%;
	}
	.project-solo {
		margin-bottom: 2rem;
	}
	.projects hr {
		width: 100%;
	}
}


/* LINKS  */
.container-links {
	width: 80%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.link-solo {
	display: flex;
	flex-direction: column;
	margin: 0 auto 2rem;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.096); 
	box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.082); 
}

.link-solo img {
	height: 250px;
	width: 250px;
	object-fit: contain;
}

/* links responsive  */
@media (max-width: 1000px) {
	.container-links {
		width: 90%;
		grid-template-columns: 1fr 1fr;
	}
}
@media (max-width: 700px) {
	.container-links {
		width: 95%;
		grid-template-columns: 1fr;
	}
}


/* FOOTER  */
.footer {
	text-align: center;
	margin: 4rem;
}